.poll {
	width: 450px;
	background: url(../images/background-6.jpg) no-repeat center top / cover;
}

.poll legend {
	color: #ff5500;
	font-weight: 600;
}

.poll .question {
	font-weight: 600;
}

.poll .answers {
	padding-left: 150px;
}

.poll .submit {
	margin-left: 150px;
	background-color: #ff5500;
	color: #fff;
	border: 0px;
}